{
  "openapi": "3.1.0",
  "info": {
    "title": "Aurora Orbit Relay API",
    "version": "2024.9-rand",
    "description": "Controls access to orbit relays, manifests, and aurora-credit settlements."
  },
  "servers": [
    {
      "url": "https://orbit.aurora/api/v1",
      "description": "Production Lattice"
    },
    {
      "url": "https://sandbox.orbit.aurora/api/v1",
      "description": "Sandbox Lattice"
    }
  ],
  "paths": {
    "/relays": {
      "get": {
        "summary": "List available relays",
        "parameters": [
          {
            "name": "biome",
            "in": "query",
            "schema": { "type": "string", "enum": ["solar", "lunar", "umbra"] }
          },
          {
            "name": "minFlux",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "maximum": 9000 }
          }
        ],
        "responses": {
          "200": {
            "description": "Relay collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Relay" }
                }
              }
            }
          }
        }
      }
    },
    "/relays/{relayId}/telemetry": {
      "get": {
        "summary": "Relay telemetry snapshot",
        "parameters": [
          {
            "name": "relayId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^RL-[0-9A-F]{6}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Telemetry stream",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Telemetry" }
              }
            }
          },
          "404": { "description": "Relay not found" }
        }
      }
    },
    "/manifests": {
      "post": {
        "summary": "Submit a cargo manifest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Manifest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Manifest accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ManifestReceipt" }
              }
            }
          },
          "409": { "description": "Duplicate manifest" }
        }
      }
    },
    "/credits/settle": {
      "post": {
        "summary": "Settle aurora credits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SettlementRequest" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Settlement enqueued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SettlementStatus" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Relay": {
        "type": "object",
        "properties": {
          "relayId": { "type": "string", "example": "RL-FF00AC" },
          "biome": { "type": "string" },
          "fluxLevel": { "type": "integer" },
          "status": {
            "type": "string",
            "enum": ["online", "maintenance", "degraded"]
          }
        },
        "required": ["relayId", "biome", "fluxLevel", "status"]
      },
      "Telemetry": {
        "type": "object",
        "properties": {
          "relayId": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "temperature": { "type": "number" },
          "flux": { "type": "number" },
          "alerts": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "Manifest": {
        "type": "object",
        "properties": {
          "manifestId": { "type": "string" },
          "originPort": { "type": "string" },
          "destinationPort": { "type": "string" },
          "containers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Container" }
          }
        },
        "required": [
          "manifestId",
          "originPort",
          "destinationPort",
          "containers"
        ]
      },
      "Container": {
        "type": "object",
        "properties": {
          "containerId": { "type": "string" },
          "massKg": { "type": "number" },
          "commodity": { "type": "string" }
        }
      },
      "ManifestReceipt": {
        "type": "object",
        "properties": {
          "manifestId": { "type": "string" },
          "status": { "type": "string" },
          "routeSlot": { "type": "string" }
        }
      },
      "SettlementRequest": {
        "type": "object",
        "properties": {
          "ledgerId": { "type": "string" },
          "amount": { "type": "number", "format": "float" },
          "hashLock": { "type": "string" }
        },
        "required": ["ledgerId", "amount", "hashLock"]
      },
      "SettlementStatus": {
        "type": "object",
        "properties": {
          "ledgerId": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "cleared", "rejected"]
          },
          "eta": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
